// @import url("https://fonts.googleapis.com/css?family=Poppins:400,800");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

$tan: #ffdac4;
$blue: #30092a;
$lightblue: #ffdac4;
$peach: #ef3d36;
$white: #ffffff;

// * {
//   outline: 1px solid red;
// }

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $tan;
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
  color: $tan;
  transition: all 300ms ease;
}

.item-img > img {
  width: 30vw;
}

.border_ring {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  border-top: 12px solid $tan;
}

.center_logo {
  width: 20vh;
  margin: 0 auto;
  opacity: 0;
}

.logo-stroke {
  fill: none;
  stroke: $blue;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: stroke 400ms ease;
}

.typer {
  color: $white;
}

.logo-m {
  fill: none;
  stroke: $blue;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: stroke 400ms ease;
}

h2 {
  color: $white;
  font-size: 25px;
  font-weight: 800;
}

h4 {
  color: $lightblue;
  font-size: 14px;
  text-transform: uppercase;
}

.center {
  position: relative;
  top: 30vh;
  text-align: center;
  // transform: translateY(-50%);
}

.center_lower {
  position: relative;
  margin-top: -100;
  display: none;
}

.center_lower_item {
  margin: 60px 0px;
}

.menu-link {
  position: relative;
  color: $lightblue;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0px;
  text-decoration: none;
  margin: 20px;
  opacity: 0;
  transition: color 0.4s cubic-bezier(0.56, 0.57, 0.03, 0.99);

  &:before {
    content: "";
    display: inline-block;
    z-index: -1;
    position: absolute;
    left: -10%;
    top: -10%;
    height: 110%;
    width: 120%;
    background: $peach;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.4s cubic-bezier(0.56, 0.57, 0.03, 0.99);
  }

  &:hover {
    outline: none;
    color: $blue;
    text-decoration: none;
  }

  &:hover:before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
}

.content {
  position: absolute;
  margin: 0 auto;
}

.row {
  margin: 60px 0px;
}

.work-content {
  width: 80vw;
}

.work-item {
  display: flex;
  flex-direction: column;
}

.work-item-content {
  margin: 40px 0px;
}

.work-item-img {
  // width: 30vw;

  & > img {
    width: 100%;
  }
}

.project_title {
  font-weight: 800;
  font-size: 1.2rem;
  color: $white;
}

.link_active {
  color: $blue;
  &:before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
}

.expander {
  z-index: 20;
  position: fixed;
  bottom: 80px;
  right: 80px;
  transform-origin: 20px 20px;
  transform: scale(0);

  &:hover > .expander-front {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.expander__expanded {
  & > .expander-front {
    background-color: $blue;
  }

  & + .expander-back {
    transform: scale(1);
  }

  & > .expander-front > span {
    transform: rotate(135deg);
    color: $peach;
  }
}

.expander-front {
  z-index: 20;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $peach;
  transition: all 200ms ease-out;
}

.expander-front__expanded {
  background-color: $peach;
}

.expander-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $peach;
  transition: transform 600ms cubic-bezier(0.11, 0.68, 0, 1);
  transform-origin: 50% 100%;
  transform: scaleY(0);
  z-index: 10;
}

.contact-form {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  display: none;
  min-width: 300px;
}

.btn-send {
  margin-top: 40px;
  display: block;
  width: 100%;
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 100px;
  padding: 10px;
  color: $peach;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 300ms ease;

  &:hover {
    border: 1px solid $blue;
    background-color: $peach;
    color: $blue;
    cursor: pointer;
  }

  &:active {
    border: 1px solid $blue;
    background-color: $blue;
    color: $peach;
    cursor: pointer;
  }

  &:focus {
    border: 1px solid $blue;
    background-color: $peach;
    color: $blue;
    cursor: pointer;
  }
}

.btn-visit {
  background-color: $peach;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  color: $blue;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 300ms ease;

  &:hover {
    background-color: $tan;
    color: $blue;
    cursor: pointer;
  }

  &:active {
    background-color: $blue;
    color: $peach;
    cursor: pointer;
  }

  &:focus {
    background-color: $peach;
    color: $blue;
    cursor: pointer;
  }
}

.form-label {
  color: $blue;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.about-text,
.work-item-text {
  max-width: 500px;
  margin: 0 auto;
}

.about-text {
  opacity: 0;
}

.text-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid $blue;
  outline: none;
  border-radius: 0px;
  background-color: $peach;
  color: $blue;

  &:focus {
    border: 1px solid $blue;
    outline: none;
    background-color: $peach;
    border-radius: 0px;
    color: $blue;
  }
}

.icon {
  height: 40px;
  width: 40px;
  color: $peach;
  // stroke: none;
  // fill: $peach;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;

  &:hover {
    transform: scale(1.1);
  }
}

.plus {
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  color: $blue;
  left: 30%;

  transition: transform 400ms ease;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.thank-you {
  color: $blue;
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.lds-facebook {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: $blue;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

.icon-item {
  margin: 0px 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row {
    margin: 30px 0px;
  }
  .work-item-row {
    margin: 10px 0px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  body {
    font-size: 13px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .work-content {
    width: 80vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .work-content {
    width: 70vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .work-content {
    width: 40vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .work-content {
    width: 30vw;
  }
}
