@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

$peach:#F5907C;
$blue:#022648;
$lightblue:#C2E2F9;
$tan:#FBD2B4;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $peach;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: $tan;
    transition: all 400ms ease;
}

.center_logo {
    // outline: 1px solid red;
    width: 20vh;
    margin: 0 auto;
}

.logo-stroke {
    fill: none;
    stroke: $blue;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: stroke 400ms ease;
}

.center_typed {
    height: 30px;
}

.typer {
    color: #C2E2F9;
}

.logo-m {
    fill: none;
    stroke: $blue;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: stroke 400ms ease;
}

.background-diagonal {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #F5907C;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    animation: slideIntoPosition 1s cubic-bezier(0, 1, 0, 1);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

h2 {
    color:#fff;
}

.center {
    position: relative;
    height:100%;
    // min-width: 400px;
    top: 50vh;
    text-align: center;
    // outline: 1px solid red;
    transform: translateY(-50%);
}

.center_lower {
    position: relative;
    margin-top:-100;
    height:0px;
    // overflow-x: hidden;
    // overflow-y: scroll;
    overflow: hidden;
}

.center_lower_item {
    margin:60px 0px;
}

.menu-link {
    position:relative;
    color: $lightblue;
    text-transform:uppercase;
    font-size:1.2rem;
    font-weight:800;
    padding: 0px;
    text-decoration: none;
    margin:20px;
    transition: color 0.4s cubic-bezier(.56,.57,.03,.99);
  
    &:before {
      content: "";
      display:inline-block;
      z-index:-1;
      position: absolute;
      left:0;
      top:0;
      height: 100%;
      width: 100%;
      background: $peach;
      transform:scaleX(0);
      transform-origin: 100% 50%;
      transition: transform 0.4s cubic-bezier(.56,.57,.03,.99);
    }
  
    &:hover {
      color:$blue;
    }
  
    &:hover:before {
      transform-origin: 0% 50%;
      transform:scaleX(1);
    }
  
  }

.under-construction {
    font-size: 50px;
    color: #fff;
}

.expander {
    z-index:20;
    position: fixed;
    top: 20px;
    left: 20px;

    &:hover>.expander-front {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.expander__expanded {
    &>.expander-front {
        background-color: $blue;
    }

    &>.expander-back {
        transform: scale(80);
    }

    &>.expander-front>span {
        transform: rotate(135deg);
        color: $peach;
    }
}

.expander-front {
    z-index:20;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $peach;
    transition: all 200ms ease-out;
}

.expander-front__expanded {
    background-color: $peach;
}

.expander-back {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $peach;
    transition: transform 500ms ease-out;
    z-index: 10;
}

.plus {
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    color: $blue;
    left: 30%;
    top: 10%;
    transition: transform 400ms ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}